/*
TODO: animaatiot diveihin
*/

body {
    background-image: url("Colos.jpg");
}

.summary-container {
    
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
}

.home {
	position: relative;
    flex: 1;
    font-size: 40px;
	text-align: center;
	
	animation-duration: 5s;
	animation-name: homeslide;
}

/*
@keyframes homeslide {
  from {
    left: -50%;
  }
  

  to {
    left: calc(100% / 2 - 191px);
  }
}
*/
.result {
    flex: 1;
    font-size: 140px;
	color: black;
	text-align: center;
}

.away {
    
    flex: 1;
    font-size: 40px;
	text-align: center;
}